@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, [role=button] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
button:focus, [role=button]:focus {
  outline: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
textarea:focus,
select:focus {
  outline: 0;
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type=checkbox]:focus,
[type=radio]:focus {
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1, h2, h3, h4, h5, h6, p {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.content-grid, .content-text, .breakout-full-image {
  display: grid;
  grid-template-columns: [full-width-start] minmax(1rem, 1fr) [breakout-start] minmax(0, 7.5%) [content-start] min(100% - 2rem, 70%) [content-end] minmax(0, 7.5%) [breakout-end] minmax(1rem, 1fr) [full-width-end];
}

.content-grid > * {
  grid-column: content;
}

.breakout {
  grid-column: breakout;
}

.breakout-full-image > * {
  grid-column: breakout;
}

.full-width-image, .breakout-full-image {
  grid-column: full-width;
}

.content {
  grid-column: content;
}

.title {
  height: 45vh;
  position: relative;
}

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.beer {
  position: absolute;
  aspect-ratio: 1.4/3;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.beer:nth-child(1) {
  left: calc(0 * (17vh + 300px + (70vh - 1500px) / 4));
  transform: rotate(-30deg);
  top: 20%;
  z-index: -3;
}
.beer:nth-child(2) {
  left: calc(1 * (17vh + 300px + (70vh - 1500px) / 4));
  transform: rotate(-15deg);
  top: 10%;
  z-index: -2;
}
.beer:nth-child(3) {
  left: calc(2 * (17vh + 300px + (70vh - 1500px) / 4));
  transform: rotate(0deg);
  top: 0%;
  z-index: -1;
}
.beer:nth-child(4) {
  left: calc(3 * (17vh + 300px + (70vh - 1500px) / 4));
  transform: rotate(15deg);
  top: 10%;
  z-index: -2;
}
.beer:nth-child(5) {
  left: calc(4 * (17vh + 300px + (70vh - 1500px) / 4));
  transform: rotate(30deg);
  top: 20%;
  z-index: -3;
}

#main-content-grid {
  padding-top: 10rem;
  background-color: #f3ae2d;
  height: 130vh;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: url("../images/piana3.svg");
          mask-image: url("../images/piana3.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
}
#main-content-grid h1 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

@keyframes bubbling_up {
  0% {
    top: 100%;
  }
  100% {
    top: -100px;
  }
}
@keyframes bubbling_sidetoside {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0px);
  }
}
#bubble {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: 100%;
  animation: bubbling_up 3.5s linear infinite, bubbling_sidetoside 1s ease-in-out infinite;
}

.etykieta {
  height: min(100%, 480px);
  z-index: 2;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.2509803922);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
}

.etykietaWrapper {
  height: min(100%, 480px);
  padding: 40px;
  padding-inline: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.labelPhoto {
  max-height: 100%;
  border: 2px dashed #0e1111;
  justify-self: center;
}

.ingredients {
  padding-top: 16px;
  height: 100%;
  border: solid 5px #0e1111;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 4fr 4fr 4fr;
  grid-template-areas: "ocenka info" "table barcode" "table barcode" "table barcode";
}
.ingredients p {
  color: #0e1111;
}

.labelOcenka {
  grid-area: ocenka;
  margin-inline: 32px;
}

.labelTable {
  grid-area: table;
  margin: auto 0;
  padding-left: 32px;
}
.labelTable p {
  font-size: 12px;
  text-align: justify;
}
.labelTable table {
  table-layout: fixed;
  font-size: 130%;
}
.labelTable table, .labelTable tr, .labelTable th, .labelTable td {
  padding: 6px;
  border: #0e1111 solid 1px;
  border-collapse: collapse;
}
.labelTable th, .labelTable td {
  word-wrap: break-word;
  text-align: center;
}

.labelInfo {
  grid-area: info;
  display: grid;
  grid-template-rows: auto 1fr;
}
.labelInfo .nazwaBrowara {
  margin-right: 2px;
}
.labelInfo p {
  padding: 2px;
  font-size: 110%;
}
.labelInfo .pojemnosc {
  align-self: flex-end;
  font-size: 130%;
  text-align: right;
  padding-right: 20px;
  width: 100%;
}
.labelInfo .pojemnosc p {
  width: 100%;
}

.labelInfo > div {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.labelInfo > div > div {
  width: 50%;
}

.labelBarcode {
  grid-area: barcode;
  display: flex;
  justify-content: right;
}
.labelBarcode img {
  max-height: 90%;
  max-width: 50%;
}

#dodaj-content-grid {
  padding-top: 3rem;
  background-color: #f3ae2d;
  position: relative;
  overflow: hidden;
}
#dodaj-content-grid h1 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

#formWrapper {
  display: grid;
  padding: 40px;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 480px;
  justify-items: center;
  align-items: center;
}
#formWrapper label {
  font-size: 20px;
}
#formWrapper input, #formWrapper textarea {
  margin-top: 6px;
  max-width: 250px;
  height: 30px;
  border: 2px solid #0e1111;
  padding: 4px;
  font-size: 18px;
  outline: none;
  background-color: #f5f5f5;
}
#formWrapper input[type=file] {
  height: -moz-fit-content;
  height: fit-content;
}
#formWrapper textarea {
  resize: none;
  height: 6em;
}

.inputDiv {
  display: flex;
  flex-direction: column;
}

.ocenkaDiv > div {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.ocenkaDiv > div > div {
  text-align: center;
}

@keyframes buttonSplash {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#saveButton {
  background-color: red;
  color: #0e1111;
  font-size: 40px;
  font-weight: 600;
  border-radius: 50px;
  border: #0e1111 2px dashed;
  width: 80%;
  height: 80%;
  grid-column: 2/4;
  animation: buttonSplash 1s infinite;
}/*# sourceMappingURL=style.css.map */